# Copy to .env.razorpay and run:
# python scripts/bootstrap_razorpay_ssm.py --environment staging --env-file .env.razorpay --api-public-url https://api-staging.yourdomain.com

RAZORPAY_KEY_ID=rzp_live_SrtTtMKCfkVV3P

RAZORPAY_KEY_SECRET=1Xt89eBgpWm3kpXIqPphyElK

